<%- include("header") -%>

    <div class="container">
        <div class="row justify-content-md-center">
            <%- include("sidebar") -%>
            <div class="col-7 center-col">
                <div class="today-weather">
                    <ul>
                        <div class="today-weather__list">
                            <li>
                                <div class="today-weather__info">
                                    <div class="today-weather__cityname">
                                        <i class="fa-solid fa-location-dot"></i> <p class="today-weather__p"> <%=user.activeCity.name%></p>
                                    </div>
                                    <div class="today-weather__time">
                                        <i class="fa-solid fa-clock"></i> <p id="time" class="today-weather__p"></p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="today-weather__temperature">
                                    <p> <%=condition.Temperature.Metric.Value%>°C </p>
                                </div>
                            </li>

                            <li>
                                <div class="today-weather__status">
                                    <p> <%=condition.WeatherText%> </p>
                                </div>
                            </li>

                            <li>
                                <div class="today-weather__details">
                                    <div class="details__items">
                                        <p><i class="fa-solid fa-temperature-full"></i> <%=condition.Pressure.Metric.Value%> hpa </p>
                                    </div>
                                    <div class="details__items">
                                        <p> <i class="fa-solid fa-droplet"></i> <%=condition.RelativeHumidity%> % </p>
                                    </div>
                                    <div class="details__items">
                                        <p> <i class="fa-solid fa-wind"></i> <%=condition.Wind.Speed.Metric.Value%> km/h </p>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>

<script>
    const date = new Date();
    const time = date.toLocaleTimeString();
    document.getElementById("time").innerHTML = time;
</script>

<%- include("footer") -%>
